[user]
	name = koni
	email = koni@here.org
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	cm = commit -m
	st = status
	br = branch
	ck = checkout
	dfl = diff --cached HEAD^
	cma = !git add -A && git commit -m
	cmd = commit --amend -m
	pop = push -u origin
[merge]
	tool = vimdiff
[push]
	default = simple
[core]
	editor = vim
